/* checkbox settings ðŸ‘‡ */

.ui-checkbox {
    --primary-color: teal;
    --secondary-color: #fff;
    --primary-hover-color: teal;
    /* checkbox */
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.2;
  }
  
  .ui-checkbox {
    left: -7px;
appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
  }
  
  /* actions */
  
  .ui-checkbox:hover {
    border-color: var(--primary-color);
  }
  
  .ui-checkbox:checked {
    background: var(--primary-color);
    border-color: transparent;
  }
#receive > label:nth-child(2)
{
  position: relative;
  top: -15px;
  left: -7px;
}